# introduction 
In this notebook, I will perform data cleaning on the "global_superstore_2016.xlsx" dataset and subsequently convert it into three separate CSV files. These files will contain distinct data categories: customer information, order details, and product data.

In [1]:
import pandas as pd
import os

pd.set_option('display.max_columns', None)

In [2]:
data = pd.read_excel("global_superstore_2016.xlsx")
data.head(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Region,Market,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,Oklahoma,United States,Central US,USCA,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544,40.77,High
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,New South Wales,Australia,Oceania,Asia Pacific,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,Queensland,Australia,Oceania,Asia Pacific,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium

In [3]:
data.loc[data["Product ID"] == "TEC-PH-5816"]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Region,Market,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,Oklahoma,United States,Central US,USCA,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544,40.77,High
32217,36383,CA-2013-KN16390140-41338,2013-03-05,2013-03-09,Standard Class,KN-163901406,Katherine Nockton,Corporate,19120.0,Philadelphia,Pennsylvania,United States,Eastern US,USCA,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,466.158,7,0.4,-93.2316,32.98,Medium

# Data Cleaning

In [4]:
# there is no need to this data column and it is contain a bunch of nan data
data.drop(columns="Postal Code", inplace=True)

By uncommenting and running the commands in the next cell, you will observe that there are no null or NaN values present in the table.

In [5]:
# data.isnull().any()
# data.isna().any()

There are no duplicated rows present in the dataset:

In [6]:
data.duplicated().any()

False

------------------------

# ETL

The dataset currently contains all data related to customers, products, and sales in a single frame. Working with such a dataset can be challenging, especially for creating data models in tools like Power BI. To enhance the experience and gain more control over data modeling, I will separate this Excel spreadsheet into three distinct CSV files. These files will include data on customers, sales, and products, allowing for better organization and analysis.
let's look at columns names:

In [7]:
data.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'City', 'State', 'Country',
       'Region', 'Market', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit',
       'Shipping Cost', 'Order Priority'],
      dtype='object')

`Row ID` is essential to be present in all datasets.

`Customer ID` and `Product ID` are necessary attributes in the sales dataset.

-----------------

## Customer Dataset

This dataset must include the following columns:

`'Row ID', 'Customer ID', 'Customer Name', 'Segment', 'Market', 'City', 'State', 'Country', 'Region'`

In [8]:
customer = data[['Row ID', 'Customer ID', 'Customer Name', 'Segment', 'Market', 'City', 'State', 'Country', 'Region']]
customer.columns = ['row_id', 'customer_id', 'customer_name', 'segment', 'market', 'city', 'state', 'country', 'region']
customer.head(3)

,row_id,customer_id,customer_name,segment,market,city,state,country,region
0,40098,AB-100151402,Aaron Bergman,Consumer,USCA,Oklahoma City,Oklahoma,United States,Central US
1,26341,JR-162107,Justin Ritter,Corporate,Asia Pacific,Wollongong,New South Wales,Australia,Oceania
2,25330,CR-127307,Craig Reiter,Consumer,Asia Pacific,Brisbane,Queensland,Australia,Oceania

--------------

## Product Dataset

This dataset must include the following columns:

`'Row ID', 'Product ID', 'Product Name', 'Category', 'Sub-Category'`

In [11]:
product = data[['Row ID', 'Product ID', 'Product Name', 'Category', 'Sub-Category']]
product.columns = ['row_id', 'product_id', 'product_name', 'category', 'Subcategory']

--------

## Order Dataset

This dataset must include the following columns:

`'Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Customer ID', 'Product ID', 'Ship Mode', 'Sales', 'Quantity', 'Discount', 'Profit', 'Shipping Cost', 'Order Priority'`

In [12]:
orders = data[['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Customer ID', 'Product ID', 'Ship Mode', 'Sales', 'Quantity', 'Discount', 'Profit', 'Shipping Cost', 'Order Priority']]
orders.columns = ['row_id', 'order_id', 'order_date', 'ship_date', 'customer_id', 'product_id', 'ship_mode', 'sales', 'quantity', 'discount', 'profit', 'shipping_cost', 'order_priority']
orders.head(3)

,row_id,order_id,order_date,ship_date,customer_id,product_id,ship_mode,sales,quantity,discount,profit,shipping_cost,order_priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,AB-100151402,TEC-PH-5816,First Class,221.980,2,0.0,62.1544,40.77,High
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,JR-162107,FUR-CH-5379,Second Class,3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,CR-127307,TEC-PH-5356,First Class,5175.171,9,0.1,919.9710,915.49,Medium

In [13]:
orders.ship_mode.unique()

array(['First Class', 'Second Class', 'Same Day', 'Standard Class'],
      dtype=object)

------------

**All files are stored in the 'Prepare Data' folder.**

# Save New Datasets

In [14]:
folder_path = '../Prepared Data'
if not os.path.exists(folder_path):
    os.makedirs(folder_path)

# Save each DataFrame to a CSV file in the new folder
customer.to_csv(os.path.join(folder_path, 'customer.csv'), index=False)
product.to_csv(os.path.join(folder_path, 'product.csv'), index=False)
orders.to_csv(os.path.join(folder_path, 'order.csv'), index=False)